.gpt3__features{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media screen and (max-width: 550px){
  .gpt3__features{
    display: grid;
    grid-template-columns: 1fr;
  }
}
.gpt3__features-heading h1{
  font-family: var(--font-family);
  margin-bottom: 1rem;
}
@media screen and (max-width: 550px){
  .gpt3__features-heading h1{
    font-size: 28px;
    line-height: 30px;
  }
}

.gpt3__features-heading p {
  font-family: var(--font-family);
  color: #FF8A71;
}